{% extends "layout.html" %}

{% block content %}
    <div class="jumbotron" style="padding: 5px 20px">
        <h2>{{ session.get("user_email") }}的个人中心</h2>
    </div>
    <div>
        {% include "user_menu.html" %}
        <div class="col-md-10">
            <div class="jumbotron">
                <h1>个人中心</h1>
            </div>
        </div>
    </div>


{% endblock %}


{% block js_code %}
    <script>
        $(document).ready(
            function () {
                $("#nav-3").addClass('active')
            }
        );
    </script>
{% endblock %}

