<div class="col-md-2">
    <ul class="list-group" style="font-size: larger;text-align: center">
        <li id="item-1" class="list-group-item">
            <a href="{{ url_for("user_detail") }}">我的资料</a>
        </li>
        <!--
        <li id="item-2" class="list-group-item">
            <a href="{{ url_for("user_pwd") }}">我的关注</a>
        </li>
        <li id="item-3" class="list-group-item">
            <a href="{{ url_for("user_pwd") }}">我的粉丝</a>
        </li>
        <li id="item-4" class="list-group-item">
            <a href="{{ url_for("user_pwd") }}">我的相册</a>
        </li>
        <li id="item-5" class="list-group-item">
            <a href="{{ url_for("user_pwd") }}">收藏相册</a>
        </li>
        -->
        <li id="item-6" class="list-group-item">
            <a href="{{ url_for("user_pwd") }}">修改密码</a>
        </li>
        <li id="item-7" class="list-group-item">
            <a href="{{ url_for("user_upinform") }}">修改资料</a>
        </li>
        <li id="item-8" class="list-group-item">
            <a href="{{ url_for("user_logoff") }}">注销账号</a>
        </li>
    </ul>
</div>